h1{
    font-size: 26px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    color: blueviolet;
    background-color: bisque;

}
body{
    background-image: url(img/fundo.png);

}